<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="bi bi-house-fill"></i>
        <a class="nav-link" href="#">Binails<span class="sr-only">(current)</span></a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-presta">Nos Prestations</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/home">Gerer les Prestations</a>
          <a class="dropdown-item" href="#">Gerer les Reservations</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-reservation">Reservez une prestation</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/login">Sign In </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Sign Up</a>
            </li>

        </ul>
    </div>
  </div>
</nav>

<h2 class="center"><strong>Reservez ou offrez des prestations</strong> </h2>
