<!-- 
  <div [id]="'form-presta' + prestation.id" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-xs-center">Create Prestation</h4>
            </div>
            <div class="modal-body">
                <form role="form" *ngIf="prestation" #formConnexion="ngForm" (ngSubmit)="savePresta()">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label" for="title">Titre prestation:</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="title" id="title" class="validate" required [(ngModel)]="prestation.title" #name='ngModel'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="photo">image</label>
                        <div>
                            <input type="file" class="form-control input-lg" id="photo" ($change)="onFileChanged($event)">
                            <img [src] = "imgUrl" height="200" width="200" *ngIf="imgUrl">
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="duration">Duree:</label>
                      <div>
                          <input type="text" class="form-control input-lg" name="duration" id="duration" class="validate" required [(ngModel)]="prestation.duration" #name='ngModel'>
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="price">Prix de la prestation:</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="price" id="price" class="validate" required [(ngModel)]="prestation.price" #name='ngModel'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="description">Description de la prestation:</label>
                    <div>
                        <input type="text" class="form-control input-lg" name="description" id="description" class="validate" required [(ngModel)]="prestation.description" #name='ngModel'>
                    </div>
                  </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" name="action" class="btn btn-info btn-block">Submitted</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<h2>Hello</h2>


<!-- <form #formConnexion="ngForm" (ngSubmit)="savePresta()">
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" name="title" id="title" class="validate" required [(ngModel)]="prestation.title" #name='ngModel' aria-describedby="textHelp" placeholder="Title">
        <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="title" id="description" class="validate" required [(ngModel)]="prestation.description" #name='ngModel' aria-describedby="textHelp" placeholder="Description">
        <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" class="form-control" name="number" id="number" class="validate" required [(ngModel)]="prestation.number" #name='ngModel' aria-describedby="textHelp" placeholder="price">
        <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="title">Photo</label>
        <input type="text" class="form-control" name="title" id="title" class="validate" required [(ngModel)]="prestation.title" #name='ngModel' aria-describedby="textHelp" placeholder="Title">
        <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="duration">duration</label>
        <input type="text" class="form-control" name="duration" id="duration" class="validate" required [(ngModel)]="prestation.duration" #name='ngModel' aria-describedby="textHelp" placeholder="Title">
        <small id="textHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
  {{prestations | json}}
    <div class="container-fluid mt-3">
        <form #prestaForm="ngForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group col">
                <label class="control-label" for="title">Titre prestation:</label>
                <div>
                    <input type="text" class="form-control" id="title" name="title" class="validate" required [(ngModel)]="prestation.title" #title='ngModel'>
                    <span [hidden]="title.valid">Champs obligatoire</span>
                </div>
            </div>
            <div class="form-group col-md-4 mb-3">
                <label class="control-label" for="photo">image</label>
                <div>
                    <input type="file" class="form-control-file" id="photo" (change)="onSelectFile($event)" name="photo" [(ngModel)]="prestation.photo">
                    <img [src] = "imgUrl" height="200" width="200" *ngIf="imgUrl">
                </div>
            </div>
            <div class="row col-md-4 mb-3">
                <div class="form-group col">
                    <label class="control-label" for="duration">Duree:</label>
                    <div>
                        <input type="number"  name="duration" class="validate" required [(ngModel)]="prestation.duration" >
                    </div>
                </div>
                <div class="form-group col">
                    <label class="control-label" for="price"></label>
                    <div>
                        <input type="number" class="form-control input-lg" placeholder="Prix" name="price" id="price" class="validate" required [(ngModel)]="prestation.price" #price='ngModel'>
                    </div>
                </div>
            </div>
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="description">Description de la prestation:</label>
                    <div>
                        <!-- <input type="text" class="form-control input-lg" name="description" id="description" class="validate" required [(ngModel)]="prestation.description" #description='ngModel'> -->
                        <textarea class="form-control rounded-0" name="description" placeholder="Description ..." id="description" class="validate" required [(ngModel)]="prestation.description" #description='ngModel' rows="3"></textarea>
                    </div>
                </div>
            <div class="form-group">
                <div>
                    <button type="submit" [disabled]="!prestaForm.form.valid" name="action" class="btn btn-info btn-block">Submitted</button>
                </div>
            </div>
        </form>
    </div>

    





