<div class="modal fade" *ngFor='let prestation of prestations' [id]="'view-reservation-'+prestation.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Votre prestation: {{prestation.title | uppercase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
      <div class="modal-body">
        <p>id : {{prestation.id}}</p>
       
          <select [(ngModel)]="selectedPrestation" name="prestation">
            <option [ngValue]="prestation">{{prestation.title}}</option>
          </select>
          <div>
            <label for="bday">Veuillez choisir la date de la prestation:</label>
            <input type="date" id="bday" name="bday">
          </div>
          <div>
            <label for="bday">Veuillez choisir l'heure de la prestation:</label>
            <input type="date" id="bday" name="bday">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- <select [(ngModel)]="selectedBlog" name="blog">
  <option *ngFor="let blog of allBlogs" [ngValue]="blog">{{blog.titre}}</option>
</select> -->

 
