<div class="marge">
    <h1 class="centre">Administration du site </h1>
   <span><a routerLink="/add-prestation" class="btn btn-primary taille">Ajouter une prestation</a></span>
   <!-- <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#form-presta' + prestation.id">
   ajouter 
  </button> -->
  </div>
  <div class="container">
    <table class="table table-striped table-bordered">
      <thead style="background-color:pink;">
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Duree</th>
        <th>Action</th>
      </tr>
      </thead>
  
      <tbody>
      <tbody *ngFor='let prestation of prestations'>
      <tr>
        <td>
          <div >
            <p class="hello"><strong>{{prestation.title | uppercase}}</strong></p>
            <img src="https://picsum.photos/200"/>
          </div>
         
         
        
        </td>
        
          <td>{{prestation.description}}</td>
          <td>{{prestation.price}}euros</td>
          <td>{{prestation.duration}}heures</td>

        <td>
          <!-- <button type="button" class="btn btn-primary" (click)="selectPrestation(prestation)" data-toggle="modal" [attr.data-target]="'#update-form' + prestation.id">
            Modifier 
           </button> -->
          <!-- <a class="waves-effect waves-light btn" (click)="selectPrestation(prestation)">Modifier</a> -->
          <div class="bouton">
            <a class="card-link  btn btn-primary button2" data-toggle="modal" [attr.data-target]="'#update-form'+prestation.id">Modifier</a>
          <a class="btn btn-danger"(click)="delete(prestation)">Supprimer</a>
        </div>
        </td>
      </tr>
  
  
            <!-- <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classique
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr>
            <tr>
              <td>
                 <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr> <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr>
            <tr>
              <td>
                <img src="https://picsum.photos/100/180"/>
                Pose de vernis classic
              </td>
              <td>Description</td>
              <td>50 euros</td>
              <td>1h</td>
              <td>
                <a class="btn btn-primary">Modifier</a>
                <a class="btn btn-primary">Supprimer</a>
              </td>
            </tr> -->
      </tbody>
    </table>
  </div>

  <!-- //<app-add-prestation [prestation]="prestations"></app-add-prestation> -->
  <app-edit-prestation [prestations]="prestations"></app-edit-prestation>


